name: MeteorMayhem
on:
  push:
    branches: [ Builds ]

  workflow_dispatch:

jobs:
  build:
    strategy:
        matrix:
          versions: [ 'win-x86','win-x64','win-arm','win-arm64', 'linux-x64', 'linux-musl-x64', 'linux-arm', 'linux-arm64', 'osx-x64']
    
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:        
          dotnet-version: '6.0.x'
          include-prerelease: true
      - run: dotnet publish source/Asteroids/Asteroids.csproj -p:PublishSingleFile=true -c Release -r ${{matrix.versions}} -o 'out/Meteor Mayhem ${{matrix.versions}}'
      - run: Rename-Item '.\out\Meteor Mayhem ${{matrix.versions}}\Meteor Mayhem.exe' 'Meteor Mayhem ${{matrix.versions}}.exe'  
      - uses: ncipollo/release-action@v1.10.0
        with:
          allowUpdates: true
          tag: Meteor Mayhem v1.0.0
          artifacts: "out/Meteor Mayhem ${{matrix.versions}}/*"
          commit: "Builds"
          token: ${{ secrets.GITHUB_TOKEN }}

