name: MeteorMadness
on:
  push:
    branches: [ Builds ]
    tags:
      - '*'

  workflow_dispatch:

jobs:
  build:
    strategy:
        matrix:
          versions: [ 'win-x64'] #,'win-x64','win-arm','win-arm64', 'linux-x64', 'linux-musl-x64', 'linux-arm', 'linux-arm64', 'osx-x64']
    
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:        
          dotnet-version: '6.0.x'
          include-prerelease: true
      - run: dotnet publish source/Asteroids/Asteroids.csproj -p:PublishSingleFile=true -c Release -r ${{matrix.versions}} -o out/ #-property:AssemblyName='Meteor Madness ${{matrix.versions}}'
      - uses: ncipollo/release-action@v1.10.0
        with:
          allowUpdates: true
          # tag: MM_v1.0.0
          artifacts: "out/*"
          commit: "Builds"
          token: ${{ secrets.GITHUB_TOKEN }}

